# API Backend & Swagger UI
api.your_domain.com {
	encode gzip zstd

	# Matcher for Swagger UI and raw OpenAPI JSON specification
	@docs {
		path /api/v1/docs* /api/v1/openapi.json* /openapi.json*
	}

	# Protect Swagger documentation & OpenAPI spec with HTTP Basic Auth
	basic_auth @docs {
		# To generate your own password hash, run:
		# docker exec -it s3forge-caddy caddy hash-password --plaintext "your_new_password"
		admin <REPLACE_ME_WITH_OUTPUT_HASH_VALUE>
	}

	handle {
		reverse_proxy api:3000
	}
}

# MinIO Admin Web Console if required for ease of access
admin.your_domain.com {
	encode gzip zstd

	handle {
		reverse_proxy minio:9001
	}
}

# Frontend Web App (Optional: Uncomment if hosting frontend via Caddy instead external hosting service)
# your_domain.com {
# 	encode gzip zstd
# 	# handle {
# 	# 	reverse_proxy web:80
# 	# }
# }
